

<%= @the_actor.name %>
<%= @the_actor.dob%>
<%= @the_actor.bio%>





<table border="1">
<% @characters.each do |a_thing| %>
  <tr>
    <td><%= a_thing.name %></td>
    <td>
      <a href="/movies/<%= a_thing.movie_id%>">
        Show details
      </a>
    </td>
    <td>
    <%= Movie.where({:id => a_thing.movie_id}).at(0).title%> 
    
    </td>
  </tr>
<% end %>
</table>
